*{
  box-sizing:border-box;
}

.container{
  display:flex;
  height:100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* LEFT */

.left{
  width:50%;
  background:linear-gradient(135deg,#e5ebf5,#f5f7fb);
  padding:80px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.left h1{
  font-size:40px;
  margin-bottom:20px;
}

.left span{
  color:#2563eb;
}

.left p{
  color:#555;
  width:70%;
  line-height:1.6;
}

/* RIGHT */

.right{
  width:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-box{
  width:350px;
}

.login-box h2{
  font-size:30px;
  margin-bottom:10px;
}

.subtitle{
  color:#777;
  margin-bottom:20px;
}

/* SOCIAL LOGIN */

.social-login{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

.social-btn{
  flex:1;
  padding:10px;
  border:1px solid #ddd;
  background:white;
  border-radius:8px;
  cursor:pointer;

  display:flex;
  align-items:center;
  justify-content:center;
  gap:8px;
}

.social-btn:hover{
  background:#f5f5f5;
}

/* DIVIDER */

.divider{
  display:flex;
  align-items:center;
  text-align:center;
  margin-bottom:25px ;
  margin-top: 70px;
}

.divider::before,
.divider::after{
  content:"";
  flex:1;
  border-bottom:1px solid #ccc;
}

.divider span{
  padding:0 10px;
  font-size:12px;
  color:#777;
}

/* INPUTS */
.input-group{
  margin-bottom:15px;
}

.input-group label{
  display:block;
  font-weight:bold;
  margin-bottom:6px;
  font-size:14px;
}

.input-group input{
  width:100%;
  padding:12px;
  border:1px solid #ddd;
  border-radius:8px;
}

.login-box input{
  width:100%;
  padding:12px;
  border:1px solid #ddd;
  border-radius:8px;
  margin-bottom:15px;
   font-size:14px;
}

.password-field{
  position:relative;
}

.password-field input{
  width:100%;
  padding:12px;
  padding-right:45px;
  border:1px solid #ddd;
  border-radius:8px;
}

.eye{
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
}

/* LOGIN BUTTON */

.login-btn{
  width:100%;
  padding:12px;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-size:14px;
  transition:0.2s;
}

.login-btn:hover{
  background:#1d4ed8;
}

/* LINKS */

.links{
  margin-top:15px;
  font-size:14px;
}



.signup-text{
  color:black;
}

.create-account{
  color:#2563eb;
  cursor:pointer;
  font-weight:500;
}

.error-text{
  margin-top:10px;
  color:#dc2626;
  font-size:13px;
}